doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/sportive.css')

  body
    .container
      .header
        h1 Benvenuto alla pagina delle auto sportive
      .selection
        h2 Seleziona di quale auto vuoi visualizzare la scheda tecnica:

      .car-box
        each car in auto
          .person
            a(href=`/auto/${car.id}`)
              img.car-image(src=car.immagine, alt=car.nome)
            a.person-link(href=`/auto/${car.id}`) #{car.nome}
